.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    background-color: rgba(130, 45, 194, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.44);
    color: white;
}

.navbar-title {
    font-size: 18px;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-icon {
    height: 55px;
    margin-right: -5px;
    margin-top: 2px;
}

.navbar-title-img {
    height: 36px;
}

.logout-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.logout-icon {
    height: 50px;
}